# PostgreSQL
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Kafka
KAFKA_BROKER=kafka:29092
KAFKA_TOPIC=taxi-trips

# InfluxDB
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=your_username
DOCKER_INFLUXDB_INIT_PASSWORD=your_password
DOCKER_INFLUXDB_INIT_ORG=your_org
DOCKER_INFLUXDB_INIT_BUCKET=your_bucket
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=your_token_here

# Grafana
GF_SECURITY_ADMIN_PASSWORD=your_password
